<h1><%= @article.title %> <%= link_to "ðŸ–Š", edit_path %> <%= link_to "ðŸ—‘", article_path(@article),
      method: :delete,
      data: { confirm: "Are you sure?" } %></h1>

<p><%= @article.content %></p>

<%= link_to "â†©ï¸ Back to list", articles_path %>
